*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

ul{
    background-color: #00ffff;
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

li a{
    color: #00ff00;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #000000;
    color: #ffffff;
}

.menuActivo{
    background-color: #ffff00;
}

div{
    margin: 5px;
    width: 80% auto;
    background-color: aquamarine;
    color: darkred;
}

div h1{
    color: springgreen;
    text-align: center;
    font-size: 40px;
}

div section{
    margin: 10px 20px;
}

section h2{
    color: #ffff00;
    font-size: 30px;
}

section h3{
    color: darkgoldenrod;
}

section p{
    font-size: 20px;
}